.chart-container {
    width: 100%;
    width: 600px; 
    height: 400px; 
}

@media (max-width: 768px) {
    .chart-container {
        width: 500px;
        height: 350px; 
    }
}

canvas {
    width: 100%;
    height: 100%;
}