.chart-container {
    width: 600px; 
    height: auto;
  }

  @media (max-width: 768px) { 
    .chart-container {
      width: 400px; 
      padding: 0 10px; 
    }
  }

  @media (max-width: 480px) { 
    .chart-container {
      width: 300px;
      height: auto;
    }
}