.center-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center; 
  }

  .back-button-container {
    position: absolute;
    top: 20px;
    left: 50px;
  }
  
  .details-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px;
    max-width: 100%;
    padding: 10px; 
  }

  .main-title {
    background-color: #08838F;
    color: #ffffff;
    border-radius: 10px; 
    font-size: 30px;
    padding: 10px; 
    width: fit-content;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 300;
    font-family: 'Helvetica Neue';
  }